* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 12pt;
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(9, 9, 121, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  /* overflow-y: scroll; */
}

.App {
  display: grid;
  height: 100vh;
  width: 100vw;
  row-gap: 20px;
}
