* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
  background-color: black;
  /* overflow-y: scroll; */
}



.App {
  display: grid;
  height: 100vh;
  width: 100vw;
  row-gap: 20px;
}